*{
    margin: 0;
    padding: 0;
}
.container1{
    height:85vh;
    width: 100%;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.card1{
    height:10%;
    width: 60%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.card2{
    height:50%;
    width:60%;
    background-color: grey;
    display: flex;
    border-radius: 5%;
}
.card3{
    height: 30%;
    width: 60%;
    background-color: aliceblue;
    display: flex;
    border-radius: 5%;
    justify-content: space-between;
}

.box1{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.box3{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.bex1{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.bex2{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sav1{
    height: 100%;
    width: 25%;
}
.sav2{
    height: 100%;
    width: 25%;
}
.sav3{
    height: 100%;
    width: 25%;
}
.container2{
    height:85vh;
    width: 100%;
    background-color:white;
    display: flex;
    
    align-items: center;
    
    flex-direction: column;
}
.cube1{
    height: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
}
.cube2{
    height: 30%;
    width:60%;
    display: flex;
    justify-content: space-between;
}
.a{
    width: 15%;
    height: 100%;
}
.b{
    width: 15%;
    height: 100%;
}
.c{
    width: 15%;
    height: 100%;
}
.d{
    width: 15%;
    height: 100%;
}
.e{
    width: 15%;
    height: 100%;
}
.f{
    width: 15%;
    height: 100%;
}